[user]
	name = fujiyuu75
	email = fujiyuu75@gmail.com
[core]
	excludesfile = /Users/y_fujikawa/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[diff "office"]
    binary = true
    textconv = "tika --text" 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
[alias]
	a = add
	aa = add --all
	ch = checkout
	cm = commit --message
	b = branch
	br = branch --all --verbose
	d = diff
	dc = diff --cached
	dh = diff HEAD
	dhh = diff HEAD^ HEAD
	l = log --pretty=format:'%C(yellow)%h%Creset %an %ad %s' --date=iso
	ls = log --pretty=format:'%C(yellow) %h %Creset %an %ad %s' --date=iso --stat
	lg = log --pretty=format:'%C(yellow) %h %Creset %an %ad %s' --date=iso --graph
	p = push
	po = push origin
	s = status --short --branch
  	ss = !git stash list && git status --short --branch
